.container{
    display:grid;
    grid-template-rows:100px 300px 100px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      'header header'
      'main aside'
      'footer footer' ;

  }
.contain{
    border: 2px solid red;
    border-radius: 10%;
    font-size: x-large ;
    padding-top: 10px;
    margin-bottom: 50px;
    justify-content: center;     
    text-align: center;
    background-color: black ;
    color: white;
}
  
.item1{
  grid-area: header;
}


.item2{
  grid-area: main ;
}

.item3{
  grid-area: aside;
}
.item4{
  grid-area: footer;
}